{% extends 'newapp/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}


<div class="container pt-5">
        <div class="row">
            <div class="col-md-7">
                <h1>A comprehensive list of the greatest books of all time</h1>
            </div>
            <div class="col-md-3">
                <div>
                    <form action="" method="GET">
                    <input type="search" name="book_name">
                    <button type="submit">Search</button>
                     </form>
                </div>
            </div>
        </div>
</div>


</div>
<div class="row pt-5 px-5">
    <br>
    {% for book_item in book_object %}
    <div class="card mx-auto" style="width: 18rem;">

        <img class="card-img-top" src="{% static book_item.image.url %}" alt="{{ book_item.image }}" height="400px">
        <div class="card-body">
            <h5 class="card-title text-center">{{ book_item.name }}</h5>
            <p class="card-text text-center">{{ book_item.category }}</p>
            <p class="text-center">{{ book_item.description }}</p>
            <p class="text-center"><strong>Rating {{ book_item.rating }}</strong></p>
         </div>
    </div>
    {% endfor %}
    <br>



    <div class="container pt-5">
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <div>
                    <p>
                        {% if book_object.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{ book_object.previous_page_number }}">Previous</a>
                        {% endif %} Page: {{ book_object.number }} of {{ book_object.paginator.num_pages }} {% if book_object.has_next %}
                        <a href="?page={{ book_object.next_page_number }}">Next</a> <a href="?page={{ book_object.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>




{% endblock %}
</body>
</html>
